@media only screen and (min-width: 721px) and (max-width: 1080px) {
    body{
    	font-size: 3.6em;
    }
}
@media only screen and (min-width: 361px) and (max-width: 720px) {
     body{
    	font-size: 2.3em;
    }
}
@media only screen and (max-width: 360px){
    body{
    	font-size: 1.2em;
    }
}
body{
	color: #ffffff;
	margin: 0;
	padding: 0;
	background: #222222 url('../img/bg.png') repeat;
	width: 100%;
}
ol,ul,p{
	padding:0;
	margin: 0;
}
li{
	list-style: none;
}
.container{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}
/* header part */
.header{
	width: 100%;
	margin: 0 auto;
	padding-bottom: 0em;
	position: relative;
	display: inline-block;
	background: #222222 url('../img/bg.png') repeat;
	z-index: 1;
	border-bottom: 1px solid #5d5d5d;
}
.search_icon span,
.settings span{
	display: block;
	width: 60%;
}
.header .search_icon,
.header .title,
.header .settings{
	text-align: center;
	vertical-align: middle;
	height: 100%;
	float: left;
}
.header .search_icon{
	width: 15%;
	padding: 0.4em 0em 0.4em 1.2em;
}
.search_icon span,
.settings span,
.title span{
	display: inline-block;
}
.search_icon img{
	width: 100%;
	float: right;
}
.header .title{
	color: #ffa200;
	font-size: 1.2em;
	width: 70%;
	text-align: center;
	vertical-align: middle;
}

.header .settings{
	width: 15%;
	float: right;
	padding: 0.4em 1.2em 0.4em 0em;
}
.settings img{
	width: 100%;
	vertical-align: middle;
	
}

#content0{
	text-align: center;
	position: relative;
}
#content0 div{
	width: 100%;
}
.slide span{
	width: 50%;
}
.navi span{
	width: 11%
}
.slide span,.navi span{
	display: block;
	margin: 0 auto;
}
.slide img{
	width: 100%;
}
.text p{
	text-align: center;
	font-size: 1.2em;
	opacity: 0.2;
}
#navi{
	border-radius: 50%;
	background-color: #5c5c5c;
}

/* content part */

#content{
	text-align: center;
	position: relative;
}
.content{
	display: none;
}
#content .slide_box{
	margin-top: 15%;
	width: 100%;
	position: relative;
}
#slide_wrapper{
	width: 900%;
	position: absolute;
	top: 0;
	left: 10%;
}
#slide_wrapper li{
	width: 50%;
	margin-left: 15%;
	opacity: 0.5;
	float: left;
}
#slide_wrapper li img{
	margin: 0 auto;
    width: 100%;

}
#content .text_box{
	width: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
#text_wrapper{
	width: 900%;
	position: absolute;
	bottom: 0;
	left: 0;
	vertical-align: bottom;
}
#text_wrapper li{
	display: inline-block;
	float: left;
	vertical-align: bottom;
	position: relative;
	bottom: 0;
	opacity: 0.2
}
#text_wrapper li h4{
    color: #ffffff;
    font-size: 1.2em;
}
#text_wrapper li p{
    font-size: 0.7em;
    color: #525151;
}

#content #arrow_up,#content0 #arrow_up{
	margin: 0 auto;
	width: 0;
  	height: 0;
  	overflow: hidden;
  	zoom: 1;
  	border: 8px solid transparent;
  	border-bottom-color: #FFF;
  	opacity: 1;
}

#content .navi_box{
	width: 100%;
	margin: 0 auto;
	position: relative;
	
}
#navi_wrapper{
	width: 900%;
	position: absolute;
	top: 0;
	left: 0;
}
#navi_wrapper li{
	margin: 0 0em;
	float: left;
	border-radius: 50%;
	background-color: #5c5c5c;
}
#navi_wrapper li img{
	width:100%;
	border-radius: 50%;
}
#navi_wrapper .active{
	background-color: #ff9c00;
}
#text_wrapper .active{
	opacity: 1;
}
#slide_wrapper .active{
	opacity: 1;
}
#interference p{
	display:block;
	width: 30%;
	font-size: 1.2em;
	border: 1px solid #888;
	text-align: center;
	margin: 0 auto;
	line-height: 2.2em;
	border-radius: 5px;
}
#interference{
	display: none;
	width:100%;
	position: absolute;
	z-index: 2;
}
#interference .show1{
	display: block;
}
.show{
	display: block;

}
.hide{
	display: none;
}